.simpletoc-list {
	position: fixed;
	font-size: 1rem;
	max-width: 100vw;

	ol,
	ul {
		display: flex;
		margin: 0 !important;
		padding: 0;
		list-style: none;

		li {
			margin: 0;

			&::before {
				display: none !important;
			}
		}

	}

	a {
		display: block;
		padding: 8px;
		color: #666;

		&.current {
			font-size: 1rem;
			color: #111;
		}
	}

	.progress-bar {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 3px;
		background: #999;
		border-radius: 2px;
	}

	.progress-bar-indicator {
		position: absolute;
		top: 0;
		left: 0;
		height: 3px;
		background: #4f1f68;
		transition: all .3s linear;
		width: var( --progress );
		border-radius: 2px;
	}

	@media screen and ( max-width: 1023px ) {
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 100;

		ol,
		ul {
			justify-content: space-between;
			overflow-x: scroll;

			/* Hide scrollbars */
			&::-webkit-scrollbar {
				display: none;
			}
		}

		a {
			white-space: nowrap;
		}
	}

	@media screen and ( min-width: 1024px ) {
		bottom: 25px;
		left: 25px;
		width: 200px;

		ol,
		ul {
			flex-direction: column;
		}

		.progress-bar {
			width: 3px;
			transform-origin: top left;
			height: 100%;
		}

		.progress-bar-indicator {
			width: 3px;
			height: var( --progress );
		}
	}
}
